body {
  background: #f5ecd7;
  color: #4e342e;
}

.main-content-with-nav {
  margin-right: 180px;
}

.container {
  max-width: 1140px;
  background: #fff8ef;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(78, 52, 46, 0.05);
  margin-left: auto;
  margin-right: auto;
}

a,
.nav-link {
  color: #6d4c41;
}
a:hover,
.nav-link:hover {
  color: #3e2723;
}

.tag {
  padding: 0 20px;
  height: 30px;
  width: fit-content;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #bcaaa4;
  color: #fff;
}
